HELP.md
.mvn
.maven/
.maven/*
target/
target/*
target
!**/src/main/**/build/
!**/src/main/**/target/
!**/src/**/target/
!**/src/target/
!**/src/test/**/build/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
.idea/
.idea/*
*.iws
*.iml
*.ipr
out/
out
out/*
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
frontend/.editorconfig
frontend/frontend.iml
*.mwb
*.bak